<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maya's Anime Quotes!</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Marck+Script&display=swap" rel="stylesheet">
  </head>
  <body>
    <div>
      <img class="banner" src="https://64.media.tumblr.com/b3347ce2af935d20c235c97545966e43/tumblr_ppw5f0f6kq1y3748eo1_500.gif" >
      <br>
      <h2>Maya's Anime Quotes 🍓</h2>
      <h4>A helpful ai for you to generate 1,000+ anime quotes</h4>
      <img src= "https://i.pinimg.com/originals/05/bc/84/05bc8496dfae86b4bcb185204591f4fc.jpg" width="800" height="450">
    </div>

  <form action="quote">
      <button class = "button" type="submit">
          Generate Quote! 🥰
      </button>
  </form>
  
</body>
</html>